%h1= t('task.index.listing_task')
= link_to t('task.index.new_task'), new_task_path
%table
  %tr
    %th= t('task.task_fields.table_title')
    %th= t('task.task_fields.table_text')
  - @tasks.each do |task|
    %tr
      %td= task.title
      %td= task.text
      %td= link_to t('task.link.show'), task_path(task)
      %td= link_to t('task.link.edit'), edit_task_path(task)
      %td= link_to t('task.link.destroy'), task_path(task), method: :delete, data: {confirm: 'Are you sure?' }
